@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  height: 440px;
  overflow: visible;
  z-index: 2;
}
