.footer__column-link {
  text-decoration: none;
  color: white;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .17s linear;
}
.footer__column-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

